In [ ]:
### 列表结构
* 【】
* 元素随意

In [1]:
tang = []
type(tang)

list

In [2]:
tang = [1,2,3,4]
tang

[1, 2, 3, 4]

In [4]:
tang = ['1','2','3','4']
tang

['1', '2', '3', '4']

In [5]:
tang = [1, '2', 'tang']
tang

[1, '2', 'tang']

In [6]:
tang = list([1,2,3])
tang

[1, 2, 3]

### list操作

In [9]:
a = [123, 456]
b = ['tang', 'yudi']
a+b

[123, 456, 'tang', 'yudi']

In [28]:
a * 2

[2, 3, 4, 2, 3, 4]

### list索引

In [11]:
a[0]

123

In [12]:
a[-1]

456

In [13]:
a[0:]

[123, 456]

In [15]:
a[:1]

[123]

In [16]:
a[0]=789
a

[789, 456]

In [17]:
a[:]=['tang', 'yudi']
a

['tang', 'yudi']

In [19]:
a = [1,2,3,4,5,6,7]
a[4:7]

[5, 6, 7]

In [20]:
del a[0]
a

[2, 3, 4, 5, 6, 7]

In [21]:
del a[3:]
a

[2, 3, 4]

In [23]:
c = [1,2,3,4,5,6,7,8,0]
8 in c

True

In [24]:
8 not in a

True

In [29]:
9 in c

False

### 二维list

In [31]:
tang = [[1,2],[3,4]]
tang[1][0]

3

### list函数

In [26]:
len(tang)

3

In [32]:
tang=['apple','banana','apple','banana','apple','banana','apple','banana']
tang.count('apple')

4

In [33]:
tang.index('apple')

0

In [34]:
tang.append('tang')

In [35]:
tang.append('yudi')
tang

['apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'tang',
 'yudi']

In [36]:
tang.append(['tang', 'yudi'])
tang

['apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'tang',
 'yudi',
 ['tang', 'yudi']]

In [37]:
tang.insert(2,'python')
tang

['apple',
 'banana',
 'python',
 'apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'tang',
 'yudi',
 ['tang', 'yudi']]

In [38]:
tang.remove(['tang','yudi'])
tang

['apple',
 'banana',
 'python',
 'apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'tang',
 'yudi']

In [39]:
tang.remove('apple')
tang

['banana',
 'python',
 'apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'tang',
 'yudi']

In [40]:
tang.pop(1)
tang

['banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'apple',
 'banana',
 'tang',
 'yudi']

In [41]:
tang = [1,2,3,9,6,2,3]
tang.sort()
tang

[1, 2, 2, 3, 3, 6, 9]

In [42]:
tang = [1,2,3,9,6,2,3]
tang2 = sorted(tang)
print(tang)
tang2

[1, 2, 3, 9, 6, 2, 3]

[1, 2, 2, 3, 3, 6, 9]

In [43]:
tang = ['di','yu','tang']
tang.reverse()
tang

['tang', 'yu', 'di']